h1
{
	text-decoration: underline;
		text-align: center;
			background-color: black;
			color: olive;
				opacity: 0.6;

}
body
{
		background-color:  #52d169;

	}

	figure {
		text-align:center; 
		border: 3px black double;
		border-radius: 20px / 10px;
}
nav {
		text-align: center;
	}
	section {
		text-align: center;
	}
aside {
		text-align: center;
		text-decoration: underline;
		font-size: 20px;
	}
	footer{ 
		text-align: center;
		font-size: 20px;
}
	div { 
		text-align: center;
	}
h2 {
		font-size: 18px;
		font-family: Verdana;
	}
li	{
		font-style: italic;
		font-size: 20px;
		}

em {
		font-family: arial black;
		}					
			
		
	










	
		


	
	
	



		